<div class="row">
  <div class="col-4">
    <div [ngClass]="stylecolor" class="p-4"></div>
    <div class="">
      <button type="button" (click)="ShowRed()">Red</button>
      <button type="button" (click)="ShowBlue()">Blue</button>
    </div>
  </div>
  <div class="col-4">
    <div
      [ngClass]="num1 == num2 ? 'bg-danger' : 'bg-primary '"
      class="p-4"
    ></div>
    <div class="">
      <input type="text" [(ngModel)]="num1" />
      <input type="text" [(ngModel)]="num2" />
    </div>
  </div>
  <div class="col-4"></div>
  <div>
    *ngFor Object Array -
    <table class="text-center">
      <thead>
        <th>SrNo</th>
        <th>Name</th>
        <th>Roll No</th>
        <th>Status</th>
        <th>Marks</th>
      </thead>
      <tbody *ngFor="let student of Students; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.rollNo }}</td>
        <td>{{ student.status }}</td>
        <td>
          <div class="progress" style="height: 15px">
            <div
              class="progress-bar"
              [ngStyle]="{ width: student.marks + '%' }"
            >
              {{ student.marks }}
            </div>
          </div>
        </td>
      </tbody>
    </table>
  </div>
</div>
